* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#navbar {
    width: 100%;
    height: 15vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlinks {
    margin-right: 5%;
    display: flex;
    align-items: center;
    gap: 64px;
}

#navbar h1 {
    margin-left: 5%;
    color: #A8108F;
    font-size: 48px;
    font-weight: 600;
}

#navlinks a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}

#navlinks a:first-child {
    color: #2B82D8;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-thickness: 5%;
    text-underline-offset: 65%;
}

#navlinks a:last-child {
    color: white;
    display: inline-block;
    background-color: #2B82D8;
    border: 1px solid #2B82D8;
    color: white;
    padding: 12px 24px;
    border-radius: 35px;
}

#line-nav {
    width: 100%;
    height: 8px;
    border: 0;
    background: #A8108F;
}

body {
    height: 100%;
    background: linear-gradient(black, gray, black);
}

#detail-informations {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 72px;
}

#leader-informations {
    width: 50%;
}

#participant-informations {
    width: 35%;
}

#leader-informations, #participant-informations {
    padding: 48px;
    background-color: #E9E9E9;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 5px solid #2B82D8; */
    box-shadow: 1px 1px 5px 5px #2B82D8;
}

#leader-informations h2 {
    margin-bottom: 3%;
    align-self: center;

    font-size: 40px;
    font-weight: 800;
    color: #A8108F;
}

#leader-details h3 {
    font-size: 30px;
    font-weight: 700;
}

#leader-details {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#leader-details div {
    display: flex;
    flex-direction: column;
}

.sub-header {
    font-size: 16px;
    font-weight: 500;
}

.sub-detail {
    font-size: 20px;
    font-weight: 800;
    line-height: 95%;
}

.sub-link {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    line-height: 95%;
    color: #CDA608;
    text-decoration: none;
}

#participant-informations h2 {
    font-size: 40px;
    font-weight: 800;
    color: #A8108F;
}

#participant-informations h3 {
    font-size: 30px;
    font-weight: 700;
}

#participant-informations {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#participant-informations section {
    margin-bottom: 6%;
}

#participant-informations div {
    display: flex;
    flex-direction: column;
}

#edit-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-color: #A8108F;
    border-radius: 10px;
    width: 250px;
    height: 75px;

    color: white;
    font-size: 22px;
    font-weight: 600;

    margin-top: 12%;
    align-self: center;
}

#edit-profile img {
    width: 35px;
    height: auto;
}

#timeline {
    display: flex;
    flex-direction: column;
}

#header-timeline {
    margin-top: 3%;
    margin-bottom: 2%;
    align-self: center;

    font-size: 28px;
    font-weight: 800;
    color: white;

    display: flex;
    align-items: center;
    gap: 36px;
}

#header-timeline span {
    width: 180px;
    background-color: #CDA608;
    height: 6px;
}

#container-box {
    /* display: flex;
    flex-direction: column; */
    align-self: center;
    width: 90%;
    height: 380px;
    background: #E9E9E9;
    border-radius: 18px;
}

#container-timeline {
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-top: 6.5%;
    justify-content: center;
    gap: 64px;
}

#container-timeline::before {
    position: absolute;
    width: calc(100%);
    height: 16px;
    top: calc(100% + 30px);
    background: linear-gradient(270deg, #2B82D8, #A8108F);
    content: "";
}

.content-timeline {
    display: flex;
    position: relative;
}

.content-box {
    display: flex;
    flex-direction: column;

    width: 250px;
    height: 165px;
    border-radius: 8px;

    background-color: white;
    outline: 3px solid #2B82D8;
    box-shadow: 1px 1px 3px 3px #2B82D8;
}

.sub-header-timeline {
    font-size: 27px;
    font-weight: 800;
    padding: 7px 14px;
}

.separator-box {
    width: 100%;
    background-color: #CDA608;
    height: 6px;
}

.sub-date {
    font-size: 25px;
    font-weight: 800;
    margin-top: 5%;
    align-self: center;
}

.content-circle {
    position: absolute;
    top: calc(100% + 15px);
    left: calc(40%);
}

.content-circle::before {
    width: 45px;
    height: 45px;
    background: radial-gradient(white 10%, gray);
    border-radius: 50%;
    content: "";
    position: absolute;
    /* top: -20px;
    left: calc(50% - 6px); */
    z-index: 2;
}

#back-btn {
    display: flex;
    margin: 5% 0% 5% 5%;
    text-decoration: none;

    align-items: center;
    gap: 10px;
}

#back-btn img {
    width: 40px;
    height: auto;
}

#back-btn span {
    font-size: 24px;
    font-weight: 800;
    color: white;
}

#line-footer {
    width: 100%;
    height: 2px;
    border: 0;
    background: white;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background: black;
    padding: 16px 0px 32px 0px;
}

#logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-left: 4%;
}

#logo-footer img {
    width: 105px;
    height: auto;
}

#logo-footer span {
    color: white;
}

#icons-footer {
    display: flex;
    gap: 62px;
    margin-right: 4%;
}

#icons-footer a {
    text-decoration: none;
}

#icons-footer img {
    width: 60px;
    height: auto;
}